/* CONSTANTS */

html {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    font-Family: sans-serif;
    display: block;
}
#header {
    font-size: 40px;
    font-family: "lucida console";
    color: yellow;
    padding: 15px;
    background-color: darkgrey;
}
#left {
    float: left;
    padding-bottom: 100%;

}
#right {
    float: right;
    padding-bottom: 100%;
}
#center {
  float: none;
  padding: 15px;
}
#footer {
    clear: both;
    width: 100%;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* SPECIFICS */

img.main {
    max-height: 150px;
    width: auto;
}
img.memorial {
    max-height: auto;
    max-width: 250px;
}
small.copy {
    font-size: 12px;
    font-family: "arial", serif;
    color: grey;
    background: white;
    margin-left = auto;
    margin-right = auto;
}
ul.nav {
    width: 125px;
    text-align: left;
    color: orange;
    background: grey;
}
div.login {
    text-align: left;
    background: magenta;
    padding: 10px
}
div.feedback {
   background: red;
   color: black;
   padding: 10px;
}
div.memorial {
    color: white;
    background: purple;
    padding: 10px;
}
div.msg {
  border-style: solid;
  border-color: purple;
  border-width: 3px;
  margin: 15px 15px 15px 325px;
  padding: 5px;
}
div.userList {
  float: right;
  background-color: darkgrey;
  width: 225px;
  padding: 10px;
}
div.userList li {
  border-style: solid;
  border-color: red;
  border-width: medium;
}
div.userList img {
  height: 75px;
  max-width: 100px;
}
p.msg {
    color: green;
    font-family: "lucida console";
}
#changelog {
  text-align: left;
  margin-left: 200px;
}
#chat {
  color: skyblue;
  text-align: left;
}
#files {
  max-width: 400px;
  max-height: auto;
  text-align: left;
}
div.file {
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  margin: 15px 15px 15px 325px;
  padding: 5px;
}
#about p {
  font-size: 15px;
  text-indent: 40px;
}
#about h1 {
  font-size: 30px;
}
#about {
  text-align: left;
  margin: 15px 15px 15px 300px;
  border-style: solid;
  border-color: red;
  border-width: 3px;
  padding: 5px;
}
#about img {
  height: 150px;
  width: auto;
}
#about b {
  color: yellow;
}
#thank {
  margin: 15px 300px 15px 300px;
  border-style: solid;
  border-color: skyblue;
  border-width: 3px;
  padding: 5px;
  color: green;
}
#thank ul p {
  /* display: inline-block; */
}
#info {
  width: 175px;
}
#admin {
  color: green;
  padding: 25px;
}
#profile img {
  height: 150px;
  max-width: 200px;
}
#profile a {
  color: white;
}
#user {

}
#user form {
  background-color: lightgrey;
  color: blueviolet;
}
#donate {
  background-color: grey;
  padding: 20px;
  margin: 0px 250px 15px 250px;
}
#donate img {
  height: 150px;
  width: auto;
}
#goal {
  padding: 10px;
  margin: 15px 15px 0px 15px;
  background-color: orange;
}
