/* CONSTANTS */

html {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    font-Family: sans-serif;
    display: block;
}
#header {
    font-size: 40px;
    font-family: "lucida console";
    color: yellow;
    padding: 15px;
    background-color: darkgrey;
}
#left {
    float: left;
    padding-bottom: 100%;

}
#right {
    float: right;
    padding-bottom: 100%;
}
#center {
  float: none;
  padding: 15px;
}
#footer {
    clear: both;
    width: 100%;
}

/* SPECIFICS */
p.msg {
    color: green;
    font-family: "lucida console";
}
div.msg {

}
#copyright {
    font-size: 12px;
    font-family: "arial", serif;
    color: grey;
    background: white;
    margin-left = auto;
    margin-right = auto;
}
#nav {
    width: 125px;
    text-align: left;
    color: orange;
    background: grey;
}
div.login {
    text-align: left;
    background: magenta;
    padding: 10px
}
#profile img {
  height: 150px;
  max-width: 200px;
}
#profile a {
  color: white;
}
#user {

}
#user form {
  background-color: lightgrey;
  color: blueviolet;
}
#info {
  width: 175px;
  background-color: grey;
}
img.main {
    max-height: 150px;
    width: auto;
}
#scroll {
    overflow-y: scroll;
    height: 750px;
}
